[Desktop Entry]
Type=Application
TryExec=gravel
Exec=gravel
Icon=gravel
Terminal=false
Categories=Utility;

Name=gravel
GenericName=Run Launcher
Comment=Launch applications, do math and more
